* {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
html{
	overflow-style: none;
}
a {
	outline: none;
	outline-style: none;
	text-decoration: none;

}

[v-cloak] {
	display: none;
}
.logoad{
	width: 500px;
	height: 100px;
	/* background-color: red; */
}
.LOGO {
	height: 80px;
	position: absolute;
	left: 90px;
	pointer-events: none;
	padding: 10px 0;
}


.t1,
.t2,
.t3,
.t4 {
	pointer-events: none;
}

.t1 {

	position: relative;
	font-size: 24px;
	color: #B94844;
	letter-spacing: 5px;
	font-size: 60px;
	font-weight: 600;
	left: 0px;
	top: 20px;
}

.t2 {
	position: relative;
	font-size: 24px;
	color: #B94844;
	letter-spacing: 5px;
	font-size: 20px;
	font-weight: 500;
	left: 100px;
	top: -50px;
}

.t3 {
	position: relative;
	font-size: 24px;
	color: #B94844;
	letter-spacing: 5px;
	font-size: 20px;
	font-weight: 500;
	left: 112px;
	top: -85px;
}

.t4 {
	background-color: #1E90FF;
	position: relative;
	width: 3px;
	height: 50px;
	background-color: red;
	top: -155px;
	left: 450px;
}





/* .el-header { */
/* position: sticky;
	z-index: 99; */
/* } */

.el-header,
.el-footer {
	background-color: #ffffff;
	color: #333;
	text-align: center;
	line-height: 60px;
	padding-bottom: 100PX;
}

.el-aside {
	background-color: #D3DCE6;
	color: #333;
	text-align: center;
	line-height: 200px;
}

.el-main {
	background-color: #E9EEF3;
	color: #333;
	text-align: center;
	line-height: 160px;
	height: 870px;
	padding: 0;
}

.el-menu-demo {
	z-index: 99;
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 0;
}


.el-menu-demo>.el-menu-item {
	width: 150px;
	font-size: 1.5rem;
	margin: 0 20px;
	/* background-color: #1E90FF; */
}

.serch {
	background-color: rgb(236, 236, 236);
	width: 100%;
	height: 100px;
}

.serch>a {
	position: absolute;
	color: rgb(67, 70, 69);
	top: 20px;
	outline: none;
	text-decoration: none;
	right: 150px;
}

.serch>i {
	width: 40px;
	height: 40px;
	background-color: rgb(236, 236, 236);
	position: absolute;
	top: 30px;
	line-height: 40px;
	border-radius: 0px;
	right: 38%;
}

.serch>.el-input {
	position: absolute;
	width: 250px;
	top: 20px;
	right: 300px;
}

.el-carousel {
	margin-top: 80px;
}

.el-carousel__item {
	color: #475669;
	font-size: 14px;
	opacity: 0.9;
	line-height: 200px;
	margin: 0;
}

.top-news,
.main-news,
.cn-news {
	/* background-color: #1E90FF; */
	/* border: 1px solid rgba(0, 0, 0, 0.2); */
	border-radius: 4px;
	height: 100%;
	width: 100%;
	line-height: 0;
	cursor: pointer;
}

.news-img {
	width: 80%;
	height: 80%;
	transition: 1s;
	box-shadow: rgb(65, 66, 66) 10px 10px 20px;
}

.news-img:hover {
	width: 87%;
	height: 87%;
}

.news-option {
	font-size: 1.2rem;
	font-weight: 600;
	font-family: 微软雅黑, Arial;
	line-height: 80px;
	/* background-color: red; */
	width: 40%;
	opacity: 1;

}

.news-href {
	line-height: 2rem;
	font-size: 1rem;
	font-weight: 600;
	margin-left: 60%;

}

.top-news-th {
	margin-top: 0%;
	line-height: 3rem;
	font-weight: 900;
	font-size: 1.3rem;
	width: 80%;
	margin-left: 10%;
	/* background-color: red; */
}

.top-news-td {
	line-height: 2.5rem;
	width: 74%;
	font-size: 1.1rem;
	margin-left: 13%;
	opacity: .7;
}

.main-news-x {
	line-height: 2rem;
	text-align: left;
	font-size: 0.85rem;
	color: black;
	opacity: .7;
	transition: .2s;
	width: 100%;

	/* background-color: red; */

}

.main-news-x>a:hover {
	opacity: 1;
}

.onews {
	width: 40%;
	height: 40%;
	box-shadow: rgb(65, 66, 66) 3px 3px 5px;
}

.onews:hover {
	width: 45%;
	height: 45%;
}

.onews-option {
	line-height: 3rem;
	font-size: 1rem;
}


.zyfc {
	font-size: 3rem;
	line-height: 6rem;
	color: #ff5500;
}

.fc {
	height: 600px;
	padding-left: 50px;
	/* background-color: #1E90FF; */
}

.fc_img {
	height: 100%;
	width: auto;
	position: relative;
	top: 15%;
	left: -25%;
	box-shadow: rgba(0, 0, 0, 0.3) 0px -5px 20px;
}

.fc_option {

	text-align: center;
	line-height: 1.8rem;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 80px;
	width: 90%;
	height: 80px;
	font-size: 1.8rem;

	color: #44b96b;
}

.fc_body {
	line-height: 2.5rem;
	width: 42%;
	height: auto;
	/* background-color: red ; */
	position: absolute;
	text-align: left;
	font-size: 1.5rem;
	right: 100px;
	top: 20%;

}

.zx-bottom {
	width: 80%;
	line-height: 0;
	margin: 0 10%;
	text-align: left;
	height: 100px;
	background-color: white;
}


.zx-bottom>a:nth-child(2),
.zx-bottom>a:nth-child(3),
.zx-bottom>a:nth-child(4) {
	padding: 20px;
	transition: .2s all;
}

.zx-bottom>a:nth-child(2):hover,
.zx-bottom>a:nth-child(3):hover,
.zx-bottom>a:nth-child(4):hover {
	background-color: red;

}

.zx-bottom>a {
	width: 230px;
	height: 60px;
	float: left;
	/* background-color: red;
	border: 1px solid beige; */
	display: block;
}

.goback {
	width: 60px;
	height: 60px;
	/* background-color: rgb(255, 255, 255); */
	position: fixed;
	right: 5%;
	border-radius: 20%;
	bottom: 5%;
	transform: rotate(270deg);
	display: none;
	z-index: 3;
}

#float {
	position: absolute;
	z-index: 2;
}

#floatImg {
	width: 500px;
	height: 120px;
}

#float>.drop {
	position: absolute;
	width: 20px;
	height: 20px;
	z-index: 3;
	font-size: 2rem;
	right: 0;
	top: 0;
	cursor: pointer;
	opacity: 0;
}

.login,
.login>span {
	font-size: 20px;
	font-weight: 600;
	transition: .2s;
	/* background-color: #1E90FF; */
}

.login:hover {
	color: red;

}

.syfooter {
	background-color: rgb(0, 101, 176);




}

.bt-href {
	padding-top: 0px;
	top: 0;
	width: 200px;
	height: 250px;
	/* background-color: red; */
	line-height: 3rem;

}

.bt-href>p>a {
	font-size: 0.8rem;
	font-weight: 600;
	color: white;
	opacity: .5;
	transition: .3s;
}

.bt-href>p>a:hover {
	opacity: 1;
}

.bttext {
	font-size: 4rem;
	color: whitesmoke;
	position: relative;
	right: -30%;
	bottom: 200px;


}

.bt-information {
	margin-top: 150px;
	/* padding-bottom: 20px; */
}

.bt-information>p {
	position: relative;
	top: 0px;
	color: white;
	line-height: 1.5rem;

}

.signout {
	/* font-family: "微软雅黑"; */
	/* font-weight: 900; */
	font-size: 1rem;
	color: red;
	cursor: pointer;
	position: absolute;
	right: 100px;
	top: 20px;
}
.datadialog  p{
	font-size: 1rem;
	line-height: 30px;
}

.objdetaildialog{
	font-size: 1.3rem;
	line-height: 3rem;
	font-weight: 600;
	color: blue;
	cursor: pointer;
	border: 2px solid rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}
.objdetaildialog p{
	margin-left: 50px;
}
.objdetaildialog button{
	border: none;
	width: 150px;
	height: 40px;
	color: white;
	background-color: rgba(255, 0, 0, 0.8);
	border-radius: 15px;
	outline: none;
	transition: .3s;
	margin: 15px 0;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
}
.objdetaildialog button:hover{
background-color: rgba(220, 0, 0, 1.0);
}